[Unit]
Description=Draw pixls together!

[Service]
User=pixl
Group=pixl
ExecStart=/usr/bin/node server.js
WorkingDirectory=/srv/http/pixl

[Install]
WantedBy=multi-user.target